<div id="social-footer-container">
    <div class="icons-div" id="facebook-i">
      <img src="assets/images/FB-f-Logo__blue_114.png" class="icons-graphics" onclick={{action 'facebookShare'}}>
    </div>
    <div class="icons-div" id="instagram-i">
      <img src="assets/images/glyph-logo_May2016.png" class="icons-graphics" onclick={{action 'instagramShare'}}>
    </div>
    {{#if media.isDesktop}}
      <div class="icons-div" id="twitter-div">
        <img src="assets/images/Twitter_Logo_WhiteOnBlue.png" class="icons-graphics" id="twitter-graphic" onclick={{action 'twitterShare'}}>
      </div>
    {{/if}}
</div>
