/* application styles */

/*Main Windows All Formats*/

body {
  margin: 0;
  background-color: #fb851b;
}

#appview {
  background: url('images/The-Monkees161207-015.jpg'); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

/*All Formats*/

/*Close Window Button*/

.square-x:hover {
  cursor: pointer;
}

/* Home Page body */

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 633px;
  position: relative;
}

.box {
  flex-grow: 1;
}

#home-play-icon:hover {
  cursor: pointer;
}

#video-box {
  max-width: 60%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  flex-grow: 2;
  position: relative;

}


#home-play-icon {
  width: 100%;
  resize: both;
}

#home-video {
  width: 100%;
  resize: both;
}

#x-icon {
  width: 100%;
  resize: both;
}


/*Social Footer*/

.icons-div:hover {
  cursor: pointer;
}

.header-links a:hover {
  cursor: pointer;
}


#twitter-div:hover {
  cursor: pointer;
}

.icons-graphics {
  width: 100%;
  resize: both;
}


/*##########*/

/* Desktop Navbar */

.media-desktop .menu {
  display: flex;
  justify-content: center;
}

.media-desktop .header-links {
  display: inline-block;
  border: 5px;
  border-color: white;
  padding 20px 0px 20px 0px;
  line-height: 40px;
}


/*Hide mobile close button for desktops*/

.media-desktop .hide {
  display: none;
}

.media-desktop .header-links a {
    color: #ffffff;
    font-size: 4vh;
    font-family: "Impact", Charcoal, sans-serif;
    text-transform: capitalize;
    text-decoration:  none;
    padding-left: 30px;
    padding-right: 30px;
}

.media-desktop .header-links a:hover {
  color: #fb851b;
}


.media-desktop #the-monkees a {
  font-size: 5vh;
  color: #fb851b;
}

.media-desktop #the-monkees a:hover {
  color: #ffffff;
}

/*Desktop Page Body*/

.media-desktop #home-button {
  max-width: 6%;
  resize: both;
}

.media-desktop #x-button {
  max-width: 3%;
  resize: both;
  top: -3%;
  left: -1%;
  position: absolute;
}

/* Desktop Footer */

.media-desktop #social-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.media-desktop .icons-div {
  max-width: 4%;
  resize: both;
  flex-direction: row;
  padding: 0% 0.4% 0% 0.4%;
}

.media-desktop .icons-graphics {
  border-radius: 15%;
}


/*##########*/

/* Tablet Navbar */

.media-tablet .menu {
  display: flex;
  justify-content: center;
}

.media-tablet .header-links {
  display: inline-block;
  border: 5px;
  border-color: white;
  padding 20px 0px 20px 0px;
  line-height: 40px;
}


/*Hide mobile close button for Tablet */

.media-tablet .hide {
  display: none;
}

.media-tablet .header-links a {
    color: #ffffff;
    font-size: 3vh;
    font-family: "Impact", Charcoal, sans-serif;
    text-transform: capitalize;
    text-decoration:  none;
    padding-left: 10px;
    padding-right: 10px;
}

.media-tablet .header-links a:hover {
  color: #fb851b;
}


.media-tablet #the-monkees a {
  font-size: 4vh;
  color: #fb851b;
}


.media-tablet #the-monkees a:hover {
  color: #ffffff;
}

/*Tablet Page Body*/

.media-tablet #home-button {
  max-width: 7%;
  resize: both;
}

.media-tablet #x-button {
  max-width: 4%;
  resize: both;
  top: -3%;
  left: -1%;
  position: absolute;
}

/* Tablet Footer */

.media-tablet #social-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.media-tablet .icons-div {
  max-width: 4%;
  resize: both;
  flex-direction: row;
  padding: 0% 0.4% 0% 0.4%;
}

.media-tablet .icons-graphics {
  border-radius: 15%;
}

/*##########*/

/*Navbar Mobile*/

.media-mobile .navbar {
  display: flex;
  top: 0;
}

.media-mobile .mobile-menu-icon {
  height: 30px;
  resize: both;
}

.mobile-menu-icon:hover {
  cursor: pointer;
}

.media-mobile .header-links {
  flex-direction: column;
  white-space: nowrap;
  z-index: 999;
  position: relative;
  padding: 5px 5px 5px 20px;
  background: rgba(0,0,0,0.5);
  display: none;
}

.media-mobile .header-links a {
    color: #FFFFFF;
    font-size: 3vw;
    font-family: "Impact", Charcoal, sans-serif;
    text-transform: capitalize;
    text-decoration:  none;
    padding-left: 0px;
    padding-right: 5px;
}

.media-mobile .header-links a:hover {
  color: #fb851b;
}

.media-mobile #the-monkees a {
  font-size: 3.5vw;
  color: #fb851b;
}

.media-mobile #the-monkees a:hover {
  color: #ffffff;
}

/*Mobile Page Body*/

.media-mobile #home-button {
  max-width: 9%;
  resize: both;
}

.media-mobile #x-button {
  max-width: 5%;
  resize: both;
  top: -3%;
  left: -1%;
  position: absolute;
}
