/* application styles */

/*Main Windows All Formats*/

body {
  margin: 0;
  background-color: #fb851b;
}

#appview {
  background: url('images/The-Monkees161207-015.jpg'); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

/*All Formats*/

/* Mobile Menu Hamburger */

.fa-bars {
  color: #ffffff;
  font-size: 5vw;
  padding-left: 3px;
}


.fa-bars:hover {
  cursor: pointer;
}

/*Close Window Button*/

.fa-window-close:hover {
  cursor: pointer;
}


/* Home Page body */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-height: 633px;
}

.box {
  flex-grow: 1;
}

#home-play-icon:hover {
  cursor: pointer;
}

#home-video {
  width: 100%;
  resize: both;
}

.fa-play-circle {
  color: #ffffff;
  font-size: 10vh;
}

.fa-play-circle:hover {
  cursor: pointer;
}


.band-image-container {
  cursor: pointer;
}

.pinterest_logo:hover {
  cursor: pointer;
}

/*Social Footer*/

.icons-graphics:hover {
  cursor: pointer;
}

.header-links a:hover {
  cursor: pointer;
}


#twitter-div:hover {
  cursor: pointer;
}

.icons-graphics {
  width: 100%;
  resize: both;
}

/* The Monkees Body */

#band-members-box {
  max-width: 80%;
  background-color: #0a0d36;
  flex-grow: 2;
  overflow: auto;
  border-radius: 0.5%;
  padding: 0 0.8% 0 0.8%;
  background: rgba(10,13,54,0.8);
}

.member-name {
  float: left;
  font-size: 3vh;
  font-family: "Impact", Charcoal, sans-serif;
  padding-right: 20px;
  cursor: pointer;
}

.member-name-white {
  color: #ffffff;
}

.member-name-orange {
  color: #fb851b;
}

.paragraph-text {
  float: left;
  color: #ffffff;
  font-size: 2.5vh;
  font-family: "Impact", Charcoal, sans-serif;
}

div .band-image-container {
  max-width: 18%;
  resize: both;
  float: right;
  padding-left: 2%;
  position: relative;
}

.headshot {
  width: 100%;
  resize: both;
}


div .pinterest {
  max-width: 12%;
  resize: both;
  z-index: 100;
  position: absolute;
  top: 0%;
  right: 0%;
  visibility: hidden;
  transition-delay: 3s;
}

.pinterest_logo {
  width: 100%;
  resize: both;
}

.headshot:hover + .pinterest {
visibility: visible;
transition-delay: 0s;
}


/*##########*/

/* Desktop Navbar */

.media-desktop .menu {
  display: flex;
  justify-content: center;
}

.media-desktop .header-links {
  display: inline-block;
  border: 5px;
  border-color: white;
  padding 20px 0px 20px 0px;
  line-height: 40px;
}


/*Hide mobile close button for desktops*/

.media-desktop .hide {
  display: none;
}

.media-desktop .header-links a {
    color: #ffffff;
    font-size: 4vh;
    font-family: "Impact", Charcoal, sans-serif;
    text-transform: capitalize;
    text-decoration:  none;
    padding-left: 30px;
    padding-right: 30px;
}

.media-desktop .header-links a:hover {
  color: #fb851b;
}


.media-desktop #the-monkees a {
  font-size: 5vh;
  color: #fb851b;
}

.media-desktop #the-monkees a:hover {
  color: #ffffff;
}

/*Desktop Page Body*/

.media-desktop #x-button {
  top: -23px;
  left: -27px;
  position: absolute;
}

.media-desktop .fa-window-close {
  font-size: 2vw;
  padding-left: 3px;
  color: #ffffff;
}




/* Home page video */

.media-desktop #video-box {
  max-width: 60%;
  padding: 8px 15px 8px 15px;
  flex-grow: 2;
  position: relative;
  background-color: #050924;
}



/* Desktop Footer */

.media-desktop #social-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5% 0 0.3% 0;
}

.media-desktop .icons-div {
  max-width: 4%;
  resize: both;
  flex-direction: row;
  padding: 0% 0.4% 0% 0.4%;
}

.media-desktop .icons-graphics {
  border-radius: 15%;
}


/*##########*/

/* Tablet Navbar */

.media-tablet .menu {
  display: flex;
  justify-content: center;
}

.media-tablet .header-links {
  display: inline-block;
  border: 5px;
  border-color: white;
  padding 20px 0px 20px 0px;
  line-height: 40px;
}


/*Hide mobile close button for Tablet */

.media-tablet .hide {
  display: none;
}

.media-tablet .header-links a {
    color: #ffffff;
    font-size: 3vh;
    font-family: "Impact", Charcoal, sans-serif;
    text-transform: capitalize;
    text-decoration:  none;
    padding-left: 10px;
    padding-right: 10px;
}

.media-tablet .header-links a:hover {
  color: #fb851b;
}


.media-tablet #the-monkees a {
  font-size: 4vh;
  color: #fb851b;
}


.media-tablet #the-monkees a:hover {
  color: #ffffff;
}

/*Tablet Page Body*/

.media-tablet #x-button {
  top: -22px;
  left: -24px;
  position: absolute;
}

.media-tablet .fa-window-close {
  font-size: 3vw;
  padding-left: 3px;
  color: #ffffff;
}


/* Home page video */

.media-tablet #video-box {
  max-width: 60%;
  padding: 8px 15px 8px 15px;
  flex-grow: 2;
  position: relative;
  background-color: #050924;
}






/* Tablet Footer */

.media-tablet #social-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5% 0 0.3% 0;
}

.media-tablet .icons-div {
  max-width: 4%;
  resize: both;
  flex-direction: row;
  padding: 0% 0.4% 0% 0.4%;
}

.media-tablet .icons-graphics {
  border-radius: 15%;
}

/*##########*/

/*Navbar Mobile*/

.media-mobile .navbar {
  display: flex;
  top: 0;
}

.mobile-menu-icon:hover {
  cursor: pointer;
}

.media-mobile .header-links {
  flex-direction: column;
  white-space: nowrap;
  z-index: 999;
  position: relative;
  padding: 5px 5px 5px 20px;
  background: rgba(0,0,0,0.5);
  display: none;
}

.media-mobile .header-links a {
    color: #FFFFFF;
    font-size: 3vw;
    font-family: "Impact", Charcoal, sans-serif;
    text-transform: capitalize;
    text-decoration:  none;
    padding-left: 0px;
    padding-right: 5px;
}

.media-mobile .header-links a:hover {
  color: #fb851b;
}

.media-mobile #the-monkees a {
  font-size: 3.5vw;
  color: #fb851b;
}

.media-mobile #the-monkees a:hover {
  color: #ffffff;
}

.media-mobile .fa-pause .fa-play {
  font-size: 3vw;
  padding-left: 100px;
}


/*Mobile Page Body*/

.media-mobile #x-button {
  top: -19px;
  left: -24px;
  position: absolute;
}


.media-mobile .fa-window-close {
  font-size: 4vw;
  padding-left: 3px;
  color: #ffffff;
}



/* Home page video */

.media-mobile #video-box {
  max-width: 60%;
  padding: 5px 11px 5px 11px;
  flex-grow: 2;
  position: relative;
  background-color: #050924;
}




/* Mobile Footer */

.media-mobile #social-footer-container {
  text-align: right;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 1% 0 0.3% 0;
}



.media-mobile .icons-div {
  max-width: 6%;
  resize: both;
  display: inline-block;
  visibility: hidden;
}

.media-mobile .icons-div-show {
  max-width: 6%;
  resize: both;
  padding: 0% 0.4% 0% 0.4%;
  display: inline-block;
  visibility: visible;
}

.media-mobile .icons-graphics {
  border-radius: 15%;
}

.media-mobile .twitter-icon {
  display: inline-block;
  max-width: 6%;
  resize: both;
  right: -3%;
  position: absolute;
}

.media-mobile .twitter-icon-show {
  display: inline-block;
  max-width: 6%;
  resize: both;
  margin-right: 0.4%;
}
