<div class="container">

  {{#if isVideoExpanded}}
    <div class="box">
    </div>
    <div class="box" id="video-box">
      <div id="x-button">
        <i class="far fa-window-close" {{action 'toggleBody'}}></i>
      </div>
      <video id="home-video" controls autoplay>
        <source src="assets/videos/macaque-monkey-on-tree-jumping-climbing-playing_r7u2ngmxl__WL.mp4" type="video/mp4">
          <!-- <source src="movie.ogg" type="video/ogg"> -->
          Your browser does not support the video tag.
      </video>
    </div>
    <div class="box">
    </div>
  {{else}}
    <div id="home-button">
      <i class="far fa-play-circle" id="home-play-icon" {{action "toggleBody"}}></i>
    </div>
  {{/if}}

</div>
