<div class="container">

    <div class="box">
    </div>
    <div class="box" id="message-sent-box">
      <p class="flash-text-orange">Thanks for your message</p>
    </div>
    <div class="box">
    </div>

</div>
